<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <title>CSV Conf</title>
  </head>
  <body>
    <div id="app" class="container">
      <div class="title-bar">
        <div class="title-left-action" @click="runLeftAction">
          <i :class="left_icon" class="fa"></i>
        </div>
        <div class="title-title">
          {{ title }}
        </div>
        <div class="title-hour">
          {{ currentHour }}
        </div>
      </div>

      <div class="main-content">
        <div class="btn-container" v-if="section=='home'">
          <button class="btn" @click="scheduleClick">Today's schedule</button>
          <button class="btn" @click="talksNextClick" v-if="nextTime">What is happening at {{ nextTime }}?</button>
          <button class="btn" @click="talksNowClick">What is happening now?</button>
          <button class="btn" @click="scheduleByStar">Favorite talks</button>
          <button class="btn" @click="findTalksClick"><i class="fa fa-search"></i> Search all talks</button>
        </div>

        <div class="talk" v-if="section=='talk'">
          <div class="talk-title">{{ talk.title }}</div>
          <div class="talk-center">{{ talk.author }}</div>
          <div class="talk-center">{{ talk.day }} {{ talk.from }}-{{ talk.to }} </div>
          <div class="talk-center">{{ talk.place }}</div>
          <div class="talk-right">{{ talk.area }} ({{ talk.modality }})</div>
          <div class="talk-summary">{{ talk.summary }}</div>
        </div>

        <talk-list
          :talks="JSON.stringify(this[default_filter])"
          :curtime="currentHour"
          v-if="section=='schedule'"
        ></talk-list>
      </div>

      <!-- the magic left panel -->
      <div id="overlay" class="off" @click="hidePanel"></div>
      <div id="left-panel" class="off">
        <div class="panel-header"></div>
        <div class="panel-body">
          <div class="panel-item-title">Schedule by day</div>
          <div class="panel-item"><a @click.prevent="scheduleByDay" data-day="3" href="#">Wednesday</a></div>
          <div class="panel-item"><a @click.prevent="scheduleByDay" data-day="4" href="#">Thursday</a></div>
          <div class="panel-item-title">My favorite talks</div>
          <div class="panel-item"><a @click.prevent="scheduleByStar" href="#">Starred talks</a></div>
          <div class="panel-item-title">Utilities</div>
          <div class="panel-item"><a @click.prevent="reloadSchedule" href="#">Reload schedule</a></div>
        </div>
      </div>

      <div id="loader">
        <div class="loader-body">
          <i class="fa fa-magic fa-spin"></i>
          <div id="loader-message">Heating up the cauldron...</div>
        </div>
      </div>
    </div>

    <template id="schedule-item-template">
      <link rel="stylesheet" type="text/css" href="components/schedule-item/styles.css" />

      <div class="schedule-item">
        <div class="schedule-item-wrapper" :data-id="item.id">
          <strong class="schedule-title" id="title"></strong><br>
          <span class="schedule-author">
            <span id="author"></span><br>
            <small id="place"></small>
          </span>
          <div class="schedule-data">
            <span>
              <span id="from"></span>-<span id="to"></span> <span id="day"></span>
            </span>
            <span id="area"></span>
          </div>
          <div class="schedule-star" :data-id="item.id" @click.prevent="toggleStar" :class="{ star: item.star }"><i class="fa fa-star"></i></div>
        </div>

        <div class="schedule-item-progress">
          <div
            class="schedule-item-progress-bar"
            id="progress"
          ></div>
        </div>
      </div>
    </template>

    <template id="talk-list-template">
      <link rel="stylesheet" type="text/css" href="components/talk-list/styles.css" />

      <div class="schedule-list">
        <div class="talks" id="talks"></div>

        <div class="search-box">
          <input id="search-input" placeholder="Search titles, authors, places..." v-model="searchterm">
          <div class="search-clear" id="search-clear">&times;</div>
        </div>
      </div>
    </template>

    <script type="text/javascript" src="js/vue.min.js"></script>
    <!-- Following script provides some utility functions, therefore must be
      first -->
    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript" src="components/schedule-item/component.js"></script>
    <script type="text/javascript" src="components/talk-list/component.js"></script>
  </body>
</html>
